# IntelliJ IDEA specific files
.idea/vcs.xml
.idea/workspace.xml

# Python virtual environment
/venv

# Cache files
**/__pycache__/
**/*.py[cod]

# Environment variables
app/.env
.vscode/settings.json
app/services/ptfiles/Behavior_classifier.pt
